
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desserts - Recipe Website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/appetizers">Appetizers</a></li>
                <li><a href="/main-courses">Main Courses</a></li>
                <li><a href="/desserts">Desserts</a></li>
                <li><a href="/my-favorites">My Favorite Recipes</a></li>
            </ul>

            <section class="search-form">
                <form action="/search" method="get">
                    <input type="text" name="query" placeholder="Search recipes...">
                    <button type="submit">Search</button>
                </form>
            </section>
        </nav>
    </header>

    <main>
        <section class="category">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Desserts</h1>
            <h3> Ye Sirf hackathon hai isliye bs basic page hai</h3>
        </section>
    </main>

    <footer>
       
    </footer>

    <script src="script.js"></script>
</body>

</html>
